<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    
    <link href="{% static 'management/css/style.css' %}" rel="stylesheet">

</head>

<body>



    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'dashboard' %}">
                    <b class="logo-abbr"><img src="{% static 'management/images/logo.png' %}" alt=""> </b>
                    <span class="logo-compact"><img src="{% static 'management/images/logo.png' %}" alt=""></span>
                    <span class="text" style="color: white;">
                        E-Billing
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                
                
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    
                    {% comment %} <li>
                        <a href="{% url 'dashboard' %}" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li> {% endcomment %}
                    <li>
                        <a href="{% url 'tableOrder' %}" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Order Management</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'purchase' %}" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Purchase</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'room_order' %}" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Room Order</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'advance' %}" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Room Customer Detail</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        

                {% block content %}
                <!-- Default content can go here -->
                {% endblock %}

        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="#">Gajendra Shah</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'management/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'management/js/custom.min.js' %}"></script>
    <script src="{% static 'management/js/settings.js' %}"></script>
    <script src="{% static 'management/js/gleek.js' %}"></script>
    <script src="{% static 'management/js/styleSwitcher.js' %}"></script>

</body>

</html>